:root{
    --mainWhite:#f5f5f5;
    --mainGreen:#7fb800;
    --mainBlue:#0d2c54;
    --lightBlue:#00a6ed;
    --mainBlack:#333333;
}
body{   
    background:linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.4)),url('G:prit/Capture11.PNG')center/cover fixed no-repeat; 
   }
.main-container{
    background:linear-gradient(rgba(255,255,255,0.9),rgba(255,253,25,0.9)),url('G:prit/Capture11.PNG')center/cover fixed no-repeat;  /*we can use background like this also.here we use one background in anothe background.*/
border:2px solid black;
width: 400px;
display:grid;
text-align: center;
justify-content: center;
}

.container{
    display: grid;
    justify-content: center;
    text-align: center;
    margin-top:200px;
}

 .text-uppercase{
     text-transform: uppercase;
     font-size: 40px;
     letter-spacing: 10px;
 }
#counter{
    font-size: 50px;
    margin-bottom: 10px;
    margin-top: 0px;
}

.btn{
    margin:30px;
    margin-bottom: 0px;
    background-color:green;
    color:white;
    cursor:pointer;
    font-size: 20px;
    padding: 10px; 
    transition: background 2s ease;
}
.btn:hover{
    background: red;
}







